* {
  position: relative;
}

body {
  background: #2b2b2b;
  margin-top: 30px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.container caption {
  color: #f5f5f5;
}

.t-paises {
  width: 100%;
  border: 1px solid #295c80;
  border-collapse: collapse;
  background-color: #f5f5f5;
}

.t-paises thead td {
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  background-color: #2980b9;
  color: white;
}

.t-paises tbody tr:nth-child(odd) {
  background-color: #e9e9e9;
  height: 25px;
}

.t-paises td[data-type="number"],
.t-paises td[data-type="total"] {
  text-align: right;
}

.t-paises td[data-type="total"] {
  color: #ea6153;
  font-weight: bold;
}

.t-paises tbody tr:hover {
  background-color: skyblue;
}

footer {
  color: #f5f5f5;
}

header {
  background-position: center center;
  background-image: url(img/banner-continente.jpg);
  background-size: cover;
}
